
      <div class="form-container">
        <form [formGroup]="accountForm">
          <div class="form-items">
            <h1>Edit account</h1>
            <mat-form-field class="example-full-width" id="username" hideRequiredMarker>
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" placeholder="Enter your username"  (ngModelChange)="checkFormChanges()">

            </mat-form-field>
            
       
            
            <mat-form-field class="example-full-width"hideRequiredMarker>
              <mat-label>First Name</mat-label>
              <input type="text" matInput formControlName="firstName" placeholder="Enter your first name" (ngModelChange)="checkFormChanges()">
              
            </mat-form-field>
            
            <mat-form-field class="example-full-width" hideRequiredMarker>
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" placeholder="Enter your last name" (ngModelChange)="checkFormChanges()">
            </mat-form-field>

            <mat-form-field class="example-full-width"  hideRequiredMarker>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Enter your email">
              </mat-form-field>
            
            <div class="buttons">
              <button class="saveButton"mat-raised-button color="primary" [disabled]="!isFormDirty" (click)="saveUser()">Save</button>
              <button class="cancelButton"mat-raised-button color="basic" [disabled]="!isFormDirty" (click)="cancelChanges()">Cancel</button>
            </div>

          </div>
        </form>

  