
      <div class="form-container">
        <form [formGroup]="accountForm">
          <div class="form-items">
            <h1>Edit account</h1>
            <mat-form-field class="example-full-width" id="username">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" placeholder="Enter your username">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Enter your email">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input type="text" matInput formControlName="firstName" placeholder="Enter your first name">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" placeholder="Enter your last name">
            </mat-form-field>
            
            <mat-form-field class="example-full-width" id="password">
              <mat-label>Password</mat-label>
              <input type="password" matInput [type]="hidePassword? 'password' : 'text'" formControlName="password" placeholder="Enter your password">
              <mat-icon class="hover-click" matSuffix (click)="togglePasswordVisibility()">
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" type="primary"(click)="saveUser()">Save</button>

          </div>
        </form>

  