/* Styles for the container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .cdk-global-overlay-wrapper{
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the form */
  form {
    width: 100%;
    max-width: 700px; /* Adjust the max-width as needed */
    padding: 20px;
    background-color: #424242;
    box-shadow: 0px 10px 40px rgba(0.5, 0.5, 0.5, 0.5); /* Top shadow */
    border: 1px solid  rgb(139, 139, 139);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }
  
  #username {
    margin-top: 20  px;
  }
  
  .example-full-width {
    width: 80%;
    margin-bottom: 20px; /* Add some space between form fields */
  }
  
  .form-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Additional styling for the button */
  button {
    width: 50%; /* Make the button full width */
    align-self: center;
  }
  
  h1{
    color: white;
  }
  a {
    color: #7b1fa2;
  }
  
  .hover-click:hover {
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%; /* Make sure buttons take full width */
}

.saveButton{
    margin-right: 25px;
}

.changePass{
  margin-right: 25px;
}


.highlight-link {
  color:  yellowgreen;  /* Change the color as per your preference */
  
  text-decoration: underline;  /* Optional: Add underline to the text */
  cursor: pointer;
  width: 500px;

}

p{
    margin-top: 14px;
}

.passwordChange {
  align-self: flex-end; /* Align to the right */
  margin-top: 20px; /* Add some space between the text and the form */
  margin-right: 70px;
  color: white;
}