  <mat-stepper labelPosition="bottom" linear="true" #stepper class="stepper" orientation="vertical">
    <mat-step [stepControl]="firstFormGroup">
      <div class="step-container">
        <form [formGroup]="firstFormGroup" class="formGroups">
          <ng-template matStepLabel>
            Enter purpuse and details for your reservation:
            <span [class.chosen]="name">{{ name }}</span>
            <span *ngIf="chosenPurpose" [class.chosen]="chosenPurpose"> - {{ chosenPurpose }}</span>
          </ng-template>
          <div class="form-field-container">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput [formControl]="nameFormControl">
              <mat-error *ngIf="nameFormControl.hasError('required')">Name is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
    
          <div class="form-field-container">
            <mat-form-field class="example-full-width">
              <mat-label>Reservation purpose</mat-label>
              <mat-select formControlName="purpose" placeholder="Pick one" (selectionChange)="onPurposeChange($event.value); onThirdStepEntered()">
                <mat-option class="options" *ngFor="let purpose of reservationPurposes" [value]="purpose">
                  {{ purpose }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <!-- Additional fields for Lecture or Exam -->
          <div *ngIf="firstFormGroup.get('purpose')?.value === 'Class' || firstFormGroup.get('purpose')?.value === 'Exam'">
            <div class="form-field-container" *ngIf="firstFormGroup.get('purpose')?.value === 'Class'">
              <mat-form-field class="example-full-width">
                <mat-label>Type of Class</mat-label>
                <mat-select formControlName="typeOfClass">
                  <mat-option value="Lecture">Lecture</mat-option>
                  <mat-option value="Exercise">Exercise</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
    
            <div class="form-field-container">
              <mat-form-field class="example-full-width">
                <mat-label>Semester</mat-label>
                <mat-select formControlName="semester">
                  <mat-option value="First">First</mat-option>
                  <mat-option value="Second">Second</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
    
            <div class="form-field-container">
              <mat-form-field class="example-full-width">
                <mat-label>Study Level</mat-label>
                <mat-select formControlName="studyLevel">
                  <mat-option value="OAS">OAS</mat-option>
                  <mat-option value="MAS">MAS</mat-option>
                  <mat-option value="SAS">SAS</mat-option>
                  <mat-option value="DAS">DAS</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="firstFormGroup.value.purpose === 'Thesis Defense'">

            <div class="form-field-container">
              <mat-form-field class="example-full-width">
                <mat-label>Thesis Level</mat-label>
                <mat-select formControlName="studyLevel">
                  <mat-option value="OAS">OAS</mat-option>
                  <mat-option value="MAS">MAS</mat-option>
                  <mat-option value="SAS">SAS</mat-option>
                  <mat-option value="DAS">DAS</mat-option>
                </mat-select>
              </mat-form-field>
           </div>

            <mat-form-field class="example-full-width">
              <mat-label>Thesis theme</mat-label>
              <input matInput formControlName="theme">
            </mat-form-field>
            
           

           <div class="form-field-container">
            <mat-form-field class="example-full-width">
              <mat-label>Supervisor</mat-label>
              <input matInput formControlName="thesisSupervisor">
            </mat-form-field>
           </div>

           <div class="form-field-container">
            <mat-form-field class="example-full-width">
              <mat-label>Committee Members</mat-label>
              <input matInput formControlName="thesisCommitteeMembers">
            </mat-form-field>
           </div>
          </div>

          
          <div *ngIf="firstFormGroup.value.purpose === 'Student Org. Project'">

            <div class="form-field-container">
              <mat-form-field class="example-full-width">
                <mat-label>Student Organization</mat-label>
                <mat-select formControlName="studentOrganization">
                  <mat-option value="AIESEC">AIESEC</mat-option>
                  <mat-option value="Savez studenata FON">Savez studenata FON</mat-option>
                  <mat-option value="ЕSTIEM LG Belgrade">ЕSTIEM LG Belgrade</mat-option>
                  <mat-option value="FONIS">FONIS</mat-option>
                  <mat-option value="Case Study Club BCA">Case Study Club BCA</mat-option>
                  <mat-option value="Bufonerija">Bufonerija</mat-option>
                  <mat-option value="Debatni klub">Debatni klub</mat-option>
                  <mat-option value="EkoFON">EkoFON</mat-option>
                  <mat-option value="Quality Media Station">Quality Media Station</mat-option>
                  <mat-option value="SportFON">SportFON</mat-option>
                  <mat-option value="SAFON">SAFON</mat-option>
                  <mat-option value="Unija studenata FON-a">Unija studenata FON-a</mat-option>
                  <mat-option value="FON-ov centar za razvoj karijere">FON-ov centar za razvoj karijere</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-field-container">
              <mat-form-field class="example-full-width">
                <mat-label>Project Name</mat-label>
                <input matInput formControlName="projectName">
              </mat-form-field>
            </div>
           
            
            <div>
            <mat-form-field class="example-full-width">
              <mat-label>Project Description</mat-label>
              <textarea matInput formControlName="projectDescription"></textarea>
            </mat-form-field>
          </div>
          </div>

          <div class="buttons">
            <button mat-button matStepperNext class="nextButton" [disabled]="!firstFormGroup.valid">Next</button>
          </div>
        </form>
      </div>
    </mat-step>
  <mat-step [stepControl]="secondFormGroup" >
    <form [formGroup]="secondFormGroup" class="formGroups">
      <ng-template matStepLabel>
        Select date and time for your reservation:
        <span [class.chosen]="chosenDate">{{ chosenDate }} {{ chosenStartTime }} - {{ chosenEndTime }}</span> 
      </ng-template>
        <mat-form-field class="example-full-width">
        <mat-label>Choose a present date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Start time</mat-label>
          <mat-select formControlName="startTime" (selectionChange)="onStartTimeChange($event.value)">
            <mat-option *ngFor="let time of startTimeOptions" [value]="time">{{ time }}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" *ngIf="secondFormGroup.get('startTime')?.value">
          <mat-label>End time</mat-label>
          <mat-select formControlName="endTime" [disabled]="endTimeOptions.length === 0" (selectionChange)="onEndTimeChange($event.value)">
            <mat-option *ngFor="let time of endTimeOptions" [value]="time">{{ time }}</mat-option>
          </mat-select>
          <mat-error *ngIf="secondFormGroup.get('endTime')?.hasError('invalidEndTime')">Invalid end time</mat-error>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-button matStepperPrevious class="buttonBack">Back</button>
        <button mat-button matStepperNext class="nextButton" [disabled]="!secondFormGroup.valid" (click) = "onNextButtonClick()">Next</button>
      </div>
    </form>
  </mat-step>
<mat-step [stepControl]="thirdFormGroup" >
    <form [formGroup]="thirdFormGroup" class="formGroups" >
      
        <ng-template matStepLabel>Choose a room for your reservation: 
          <span  [class.chosen]="chosenDate" *ngFor="let room of selectedRooms; let last = last">
            {{ room.name }}{{ !last ? ', ' : '' }}
          </span>
        </ng-template>

        <app-roomstable 
              [rooms]="rooms" 
              [chosenPurpose]="chosenPurpose" 
              (selectedRoomsChange)="onSelectedRoomsChange($event)"
              (roomSelected)="onRoomSelected($event)">
        </app-roomstable>  
      <div class="buttons">
        <button mat-button matStepperPrevious class="buttonBack">Back</button>
        <button mat-button matStepperNext class="nextButton" [disabled]="!roomSelected" (click)="onFinishButtonClick()">Finish</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Your request has been sent to the admin. You will be informed if the reservation is confirmed by your email!</p>
    <div>
      <button mat-button (click)="onReset()">Ok</button>
    </div>
  </mat-step>
</mat-stepper>