  <mat-stepper labelPosition="bottom" linear="true" #stepper class="stepper" orientation="vertical">
    <mat-step [stepControl]="firstFormGroup">
      <div class="step-container">

    <form [formGroup]="firstFormGroup" class="formGroups">
      <ng-template matStepLabel>Enter purpose for your reservation: {{ chosenPurpose }}</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>Reservation purpose</mat-label>
        <mat-select formControlName="purpose" placeholder="Pick one" (selectionChange)="onPurposeChange($event.value); onThirdStepEntered()">
          <mat-option class="options" *ngFor="let purpose of reservationPurposes" [value]="purpose">
            {{ purpose }}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <div class="buttons">
        <button mat-button matStepperNext class="nextButton" [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" >
    <form [formGroup]="secondFormGroup" class="formGroups">
      <ng-template matStepLabel>Select date for your reservation: {{ chosenDate }}</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a present date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- Add a null check before accessing hasError method -->
      <div class="buttons">
        <button mat-button matStepperPrevious class="buttonBack">Back</button>
        <button mat-button matStepperNext class="nextButton" [disabled]="!secondFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
<mat-step [stepControl]="thirdFormGroup" >
    <form [formGroup]="thirdFormGroup" class="formGroups" >
      
        <ng-template matStepLabel>Choose a room for your reservation: 
          <span *ngFor="let room of selectedRooms; let last = last">
            {{ room.name }}{{ !last ? ', ' : '' }}
          </span>
        </ng-template>

        <app-roomstable 
              [rooms]="rooms" 
              [chosenPurpose]="chosenPurpose" 
              (selectedRoomsChange)="onSelectedRoomsChange($event)"
              (roomSelected)="onRoomSelected($event)"
              >
        </app-roomstable>  
        <div>
          Third Form Group Valid: {{ thirdFormGroup.valid }}
        </div>

      <div class="buttons">
        <button mat-button matStepperPrevious class="buttonBack">Back</button>
        <button mat-button matStepperNext class="nextButton" [disabled]="!thirdFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup" [editable]="roomSelected">
    <form [formGroup]="fourthFormGroup" class="formGroups">
      <ng-template matStepLabel>Pick a free time slot</ng-template>
      <mat-chip-listbox aria-label="Timeslot selection">
        <mat-chip-option>08:00 - 10:00</mat-chip-option>
        <mat-chip-option>10:00 - 12:00</mat-chip-option>
        <mat-chip-option>12:00 - 14:00</mat-chip-option>
        <mat-chip-option>14:00 - 16:00</mat-chip-option>
        <mat-chip-option>16:00 - 18:00</mat-chip-option>
        <mat-chip-option>18:00 - 20:00</mat-chip-option>
      </mat-chip-listbox>
      <div class="buttons">
        <button mat-button matStepperPrevious class="buttonBack">Back</button>
        <button mat-button matStepperNext class="nextButton" [disabled]="!fourthFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="stepper.reset()">Ok</button>
    </div>
  </mat-step>
</mat-stepper>


