/* Styles for the container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #ffffff; /* Set background color */
  }
  
  /* Styles for the form */
  form {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    padding: 20px;
    background-color: #ffffff; /* Set background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: gray;
    align-items: center;
    justify-content: center;
  }
  
  /* Additional styling for the form items */
  .form-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  
  /* Additional styling for the form fields */
  .mat-form-field {
    width: 100%; /* Make the form fields full width */
    margin-bottom: 20px; /* Add some space between form fields */
  }
  
  /* Additional styling for the button */
  button {
    width: 50%; /* Make the button full width */
    align-self: center;
  }
  
  /* Additional styling for the link and paragraph */
  p {
    margin-top: 25px;
    align-self: center;
    color: white;
  }
  
  a {
    color: #7b1fa2;
  }
  