
  <mat-stepper orientation="vertical" linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter your current password</ng-template>
        <mat-form-field>
          <mat-label>Current password</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext class="nextButton">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Type your new password</ng-template>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput formControlName="secondCtrl" 
                 required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext class="nextButton">Next</button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Re-type new password</ng-template>
          <mat-form-field>
            <mat-label>Re-type password</mat-label>
            <input matInput formControlName="thirdCtrl" 
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext class="nextButton">Next</button>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button>Ok</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  