p{
    color: yellowgreen;
}

.nextButton{
    color: rgb(255, 255, 255);
}

.mat-stepper-vertical {
    border: 1px solid  rgb(139, 139, 139);
    padding: 10px;
    border-radius: 8px;

}
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .hover-click{
    cursor: pointer;
    color: white;
  }

  