.example-spacer {
    flex: 1 1 auto;
  }
  
.hover-click:hover{
    cursor: pointer;
}

#logout{
  margin-right: 6px;
}

.example-container {
  width: 100%;
  height: 100%;
  background-color: rgb(126, 126, 126); 
  position: fixed;
  
}


.example-sidenav {
  border-right: 0.5px solid rgb(139, 139, 139);
  border-top: 0;

}

.content-area{
  padding: 30px;
}

.mat-toolbar {
  box-shadow: 0px 10px 40px rgba(0.5, 0.5, 0.5, 0.5); /* Top shadow */

}