.example-spacer {
    flex: 1 1 auto;
  }
  
.hover-click:hover{
    cursor: pointer;
}

#logout{
  margin-right: 6px;
}

.example-container {
  width: 100%;
  height: 100%;
  background-color: transparent; 
  position: fixed;

}


.example-sidenav {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-top: 0;

}

.content-area{
  padding: 100px;
}
