<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ReservationApp</span>
      <span class="example-spacer"></span>
      <span class="hover-click" id="logout" (click)="logout()">Logout</span>
      <mat-icon class="hover-click" aria-hidden="false" aria-label="Example logout icon" (click)="logout()">logout</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- navbar.component.html -->
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- Include the sidebar content directly within the navbar -->
    <app-sidebar></app-sidebar>
  </mat-drawer>
  
  <div class="content-area">
    <router-outlet></router-outlet>

  </div>
  
</mat-drawer-container>
