@if (switchForm) {
<div class = "form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    
    <div class = "form-items">
        <mat-form-field class="example-full-width" id = "username" hideRequiredMarker>
            <mat-label>Username</mat-label>
            <input type="email"  matInput formControlName="username" [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field>
            <input matInput [type]="hidePassword? 'password' : 'text'" placeholder="Password" formControlName="password" required>
            <mat-icon class="hover-click" matSuffix (click)="togglePasswordVisibility()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button>Login</button>
        <p class="hover-click">Don't have an account? <a (click)="toggleForm()">Sign up here</a>.</p>
    </div>
  </form>

</div>

} @else {
    <div class="form-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
          <h1 class="mat-dialog-title">Registration form</h1>
          <div class="form-items">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher" placeholder="Enter your username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Enter your email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input type="text" matInput formControlName="firstName" [errorStateMatcher]="matcher" placeholder="Enter your first name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" [errorStateMatcher]="matcher" placeholder="Enter your last name">
            </mat-form-field>
            <mat-form-field class="example-full-width" id="password">
              <mat-label>Password</mat-label>
              <input type="password" matInput [type]="hidePassword? 'password' : 'text'" formControlName="password" [errorStateMatcher]="matcher" placeholder="Enter your password">
              <mat-icon class="hover-click" matSuffix (click)="togglePasswordVisibility()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button mat-raised-button type="submit">Register</button>
            <p class="hover-click">Already have an account? <a (click)="toggleForm()">Login here</a>.</p>
          </div>
        </form>
      </div>
      }