
/* Styles for the container */
.form-container {
    background-image: url('../../../assets/wallpaperapp.jpg');
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: cover; /* Scale image to cover entire container */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #ffffff; /* Set background color */
    width: 100%; /* Full screen width */

  }
  
  /* Styles for the form */
  form {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    padding: 20px;
    background-color: #ffffff; /* Set background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: gray;
    align-items: center;
    justify-content: center;
  }
  #username{
    margin-top: 20px;
  }
  .mat-form-field {
    width: 200%;
    margin-bottom: 20px; /* Add some space between form fields */
  }

 .form-items{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
 }
  
  /* Additional styling for the button */
  button {
    width: 50%; /* Make the button full width */
    align-self: center;
  }

  p{
    margin-top: 25px;
    align-self: center;
    color: white;
  }
  
  a{
    color: #7b1fa2;
  }

  .hover-click:hover{
    cursor: pointer;
}