a {
    width: 180px;
    box-sizing: border-box;
  }
  
  .mdc-list {
    padding: 0px;
  }
  
  .nav-list-item {
    margin-top: 20px;
    width: 180px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  
  .list-item-content {
    display: flex;
    align-items: center; /* Vertically align icon and label */
    gap: 10px; /* Add spacing between icon and label */
  }
  
  .active-link {
    background-color: rgba(124, 123, 124, 0.5);
    border-right: 2px solid rgba(255, 252, 252);
  }