<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>

<td mat-cell *matCellDef="let room">
  <mat-checkbox class="checkBox" (click)="$event.stopPropagation()"
                (change)="selection.toggle(room); emitSelectedRooms()"
                [checked]="selection.isSelected(room)"
                class="custom-checkbox">
  </mat-checkbox>
</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let room"> {{ room.name }} </td>
  </ng-container>

  <!-- Floor Column -->
  <ng-container matColumnDef="floor">
    <th mat-header-cell *matHeaderCellDef> Floor </th>
    <td mat-cell *matCellDef="let room"> {{ room.floor }} </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let room"> {{ room.details }} </td>
  </ng-container>

  <!-- Capacity Column -->
  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef> Capacity </th>
    <td mat-cell *matCellDef="let room"> {{ room.capacity }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let room; columns: displayedColumns;"
      (click)="selection.toggle(room)">
      
  </tr>

</table>
