<div class="container">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group class="mat-card-title-group">
              <mat-card-title>B 401</mat-card-title>
              <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p>TekstTekst</p>
            <div class="buttons">
              <button mat-button color="primary">Edit</button>
              <button mat-button color="warn">Delete</button>
            </div>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="mat-card-title-group">
                <mat-card-title>B 401</mat-card-title>
                <mat-card-subtitle>Drugi sprat</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>TekstTekst</p>
              <div class="buttons">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn">Delete</button>
              </div>
            </mat-card-content>
          </mat-card>
</div>