<div class="custom-dialog">
  <h1 class="mat-dialog-title">{{ data.room ? 'Edit Room' : 'Add Room' }}</h1>
    <div mat-dialog-content [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Floor</mat-label>
        <input matInput formControlName="floor">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Capacity</mat-label>
        <input matInput formControlName="capacity">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Details</mat-label>
        <input matInput formControlName="details">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="submitForm()" class="">{{ data.room ? 'Update' : 'Add' }}</button>
      <button mat-button (click)="onNoClick()" id="cancel">Cancel</button>
    </div>
  </div>
  